.footer__copyright {
  width: 318px;
  margin-top: 57px;
  color: #545454;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    width: 282px;
    margin-top: 48px;
    line-height: 16.94px;
  }
}
