.footer__copyright {
  width: 318px;
  margin-top: 57px;

  color: #545454;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  margin-bottom: 0;
}
